.button-layout {
	width: 200px;
	padding: 10px;
	margin: 10px;
}

.middle-page {
	margin: 400px;
}

.collapse-row{
	width: 10000px !important;
	padding-top: 20px !important;
	margin-bottom: 0px !important;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
ul#horizontal-list li {
	display: inline;
}

.small-circle {
    width: 60px;
    height: 60px;
}