.button-layout {
	width: 200px;
	padding: 10px;
	margin: 10px;
}

.middle-page {
	margin: 400px;
}
.row-form-width {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 5% !important;
    display: block !important;
}

.customer-header{
    margin-top: 50px;
}