.button-layout {
	width: 200px;
	padding: 10px;
	margin: 10px;
}

.middle-page {
	margin: 400px;
}

.small-circle {
    width: 60px;
    height: 60px;
}

.row-form-width {
    margin-left: 5% !important;
    margin-right: 5% !important;
    margin-bottom: 5% !important;
	display: block !important;
}

.form-switch {
	text-align: left !important;
}

.modal-footer {
	text-align: left !important;
	display: block !important;
}

.switch-row {
	margin-bottom: 0px !important;
	/*height: 15px !important;*/
}

.switch-column {
	height: 20px !important;
	padding-left: 20px;
}

.switch-label {
	padding-left: 20px;
}

/*textarea.materialize-textarea{height: 20rem !important;}*/