.button-layout {
	width: 200px;
	padding: 10px;
	margin: 10px;
}


/*COLORING*/
.switch label input[type=checkbox]:checked+.lever {
    background-color: #039be5 !important;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #039be5 !important;
}

input:not([type]):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]), input[type="email"]:not(.browser-default):focus:not([readonly]), input[type="url"]:not(.browser-default):focus:not([readonly]), input[type="time"]:not(.browser-default):focus:not([readonly]), input[type="date"]:not(.browser-default):focus:not([readonly]), input[type="datetime"]:not(.browser-default):focus:not([readonly]), input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), input[type="tel"]:not(.browser-default):focus:not([readonly]), input[type="number"]:not(.browser-default):focus:not([readonly]), input[type="search"]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #0aa0ff !important;
    -webkit-box-shadow: 0 1px 0 0 black;
    box-shadow: 0 1px 0 0 black;
}

.restrict-row{
	max-width: 120px !important;
}
.row-align{
	max-width: 160px !important;
}

.i-am-invisible {
	visibility: hidden !important;
}

.button-align {
    right: 20px;
    bottom: 5px;
}

.icon-center {
	width: inherit !important;
}

.middle-page {
	margin: 400px;
}

.small-circle {
    width: 60px;
    height: 60px;
}

.row-form-width {
    margin-left: 5% !important;
    margin-right: 5% !important;
    margin-bottom: 5% !important;
	display: block !important;
}

.form-switch {
	text-align: left !important;
}

.modal-footer {
	text-align: left !important;
	display: block !important;
}

.switch-row {
	margin-bottom: 0px !important;
	/*height: 15px !important;*/
}

.switch-column {
	height: 20px !important;
	padding-left: 38px !important;
}

.switch-label {
	padding-left: 20px;
}

/*textarea.materialize-textarea{height: 20rem !important;}*/