﻿<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="google" content="notranslate">
	<meta http-equiv="Content-Language" content="en">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<title>ANZ Analytics</title>

	<link rel="stylesheet" href="/externals/bootstrap.min.css" />
	<link rel="stylesheet" href="/externals/font-awesome.min.css" />
	<link rel="stylesheet" href="/externals/material-icons.css" />

	<script src="/externals/amcharts.js"></script>
	<script src="/externals/serial.js"></script>
	<script src="/externals/xy.js"></script>
	<script src="/externals/pie.js"></script>
	<script src="/externals/light.js"></script>

	<link rel="stylesheet" href="/bundle/insto/insto-bundle.css" />
	<link rel="stylesheet" href="/bundle/capiq/capiq-bundle.css" />

	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" src="css/materialize.min.css" media="screen,projection" />

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="/bundle/creditrisk/creditrisk-bundle.css" />

</head>

<body>
	<input type="hidden" id="csrf_token" value="{{{csrf_token}}}" />
	<div id="react-root"></div>

	<script src="/bundle/manifest-bundle.js"></script>
	<script src="/bundle/libraries-stable-bundle.js"></script>

	<script src="/bundle/director/director-bundle.js"></script>
	<script src="/bundle/insto/insto-bundle.js"></script>
	<script src="/bundle/chartgallery/chartgallery-bundle.js"></script>

	<script src="/bundle/capiq/capiq-bundle.js"></script>

	<script src="/bundle/creditrisk/creditrisk-bundle.js"></script>
	<!--script src="/bundle/pptexportservice/pptexportservice-bundle.js"></!--script-->
	<script lang="javascript" src="https://cdn.rawgit.com/gitbrent/PptxGenJS/v2.0.0/dist/pptxgen.bundle.js"></script>
	<script src="/bundle/blockchain_scf/blockchain_scf-bundle.js"></script>

	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="js/materialize.min.js"></script>

	<script type="text/javascript">
		var rootElement = document.getElementById("react-root");
		director.Security.authenticated(function (profile) {
			blockchain_scf.renderPage(rootElement);
		});
	</script>



</body>

</html>