﻿* {
	box-sizing: border-box
}

/* Main segments of the page */
.InstoHeader {
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 1000;
	background: #004165;
	height: 48px;
}




	.InstoHeader .insta-header {
		/*position: relative;*/
		top: 0;
		margin: 0 auto;
		width: 100%;
		max-width: 1200px;
	}

	.InstoHeader .insta-footer {
		position: fixed;
		border-top: solid 1px rgb(238, 238, 238);
		bottom: 0px
	}

	/*.InstoHeader .insta-body {
    margin-top: 48px;
    margin-bottom: 48px
}*/

	/* Zendesk (let's users report bugs) styling*/
	.InstoHeader .zEWidget-launcher {
		display: none
	}

	.InstoHeader .zendesk-feedback {
		position: absolute;
		right: 64px
	}

		.InstoHeader .zendesk-feedback .launch-zendesk-feedback {
			color: #fff
		}

		.InstoHeader .zendesk-feedback .zendesk-icon {
			color: #fff;
			padding-top: 13px;
			margin-right: 0px
		}

	/* Header */
	.InstoHeader .insta-footer.insta-bar {
		min-width: 260px;
		max-width: 1200px;
		margin: 0 auto;
	}

	.InstoHeader .insta-header .logo-container {
		position: relative;
		height: 100%
	}

	.InstoHeader .insta-header #logo {
		height: 100%;
		position: absolute;
		top: -4px;
		left: 0
	}


	.InstoHeader .prototype-version-tag {
		position: absolute;
		left: 123px;
		top: 16px;
		color: #fff;
		font-size: 11px;
		font-weight: bold;
		text-transform: uppercase
	}

		.InstoHeader .prototype-version-tag .prototype-tag-text {
			padding: 0
		}

		.InstoHeader .prototype-version-tag .low {
			position: relative;
			top: -5px
		}

	/* Loading symbol */
	.InstoHeader .tile-chart-pulse {
		margin-top: 35%
	}
